{% extends 'base.html.twig' %}

{% block title %}Edit BestOnes{% endblock %}

{% block body %}
    <h1>Edit BestOnes</h1>

    {{ include('best_ones/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_best_ones_index') }}">back to list</a>

    {{ include('best_ones/_delete_form.html.twig') }}
{% endblock %}
