{% extends 'base.html.twig' %}

{% block title %}Edit TvShow{% endblock %}

{% block body %}
    <h1>Edit TvShow</h1>

    {{ include('tv_show/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('onlinecatalog_show' , { 'id' : tv_show.onlinecatalog.id }) }}">back to online catalog</a>

    {{ include('tv_show/_delete_form.html.twig') }}
{% endblock %}
