{% extends 'base.html.twig' %}

{% block title %}TvShow index{% endblock %}

{% block body %}
    <h1>Welcome to the TvShow Application</h1>
    <h2>Here you can list all your favourite movies.</h2>

    

{% endblock %}
