{% extends 'base.html.twig' %}
{% block title %}Online Catalogs{% endblock %}

{% block body %}
    <h1>Online Catalog</h1>


{% for onlinecatalog in online_catalogs %}

    <table class="table">
        <tbody>
            <tr>
                <th>Online Catalog: </th>
                <td>{{ onlinecatalog.owner }}</td>
                <td>{{ onlinecatalog.id }}</td>
                <td><a href="{{ path('onlinecatalog_show', {'id': onlinecatalog.id}) }}">show</a></td>
            </tr>

        </tbody>
    </table>

{% endfor %}
{% endblock %} {# body #} 