{% extends 'base.html.twig' %}
{% block title %}Online Catalogs{% endblock %}

{% block body %}
    <h1>Online Catalog</h1>



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Link</th>
            </tr>
            </thead>
            {% for onlinecatalog in online_catalogs %}
            <tr>
                <td>{{ onlinecatalog.id }}</td>
                <td>{{ onlinecatalog.member }}</td>
                <td><a href="{{ path('onlinecatalog_show', {'id': onlinecatalog.id}) }}">show</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %} {# body #} 